.itemSize{
    // border-radius: 50%;
    // height: 15rem;
    // width: 15rem;
    width: 100%;
    height: 200px;
}
.containerbg{
    background: url(..//../assets/bg.svg)   ;
    background-size: cover;
}
.card{
    border: none;
}
